.quantity{
	width:32px;
	margin:5px;
}

.shoppingCart {
	width: 200px;
	display: inline-block;
	float: right;
	margin-top: 65px;
	margin-right: 100px;
}

.itemList {
	width: 500px;
    display: inline-block;
    margin-left:20px;
}