<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 class="modal-title" id="myModalLabel">{{selectedProduct.name}}</h4>
</div>

<div class="modal-body">
		<div>
			<span>
				<input class="quantity" ng-model="selectedProduct.quantity"></input>
			</span>
			<span>
				<button class="btn btn-xs"><span class="glyphicon glyphicon-plus"></span></button>
				<button class="btn btn-xs"><span class="glyphicon glyphicon-minus"></span></button>
			</span>
			<span style="float:right;background-color:green">
				{{selectedProduct.totalPrice/100.0 | currency}}
			</span>
		</div>	
		
		<div>
			<h5>Ekstra</h5>
			<div ng-repeat="addition in selectedProduct.additions">
				<input type="checkbox" ng-model="addition.checked" ng-change="calculatePrice()"></input>
				<span>{{addition.name}}</span> <span>({{addition.price/100.0 | currency}})</span>
			</div>
		</div>	
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-success" ng-click="addToShoppingCart()">Sepete Ekle</button>
</div>